html {
  -ms-overflow-x: hidden;
}

html,
body {
  color: #333;
  /* font-family: '\5B8B\4F53'; */
}

/* -------------------layui------------------- */
.layui-nav {
  background: transparent;
}

.layui-nav .layui-nav-item a {
  color: #333;
}

.layui-nav .layui-nav-item a:hover {
  color: #333;
}

.layui-carousel-ind {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: right;
  box-sizing: border-box;
}

.layui-carousel-ind ul {
  background: transparent;
}

.layui-carousel-ind ul:hover {
  background: transparent;
}

.layui-carousel-ind li {
  width: 40px;
  height: 3px;
  border-radius: 0;
}

.layui-anim {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
}

.layui-form select {
  display: inline-block;
}

.layui-form-item .layui-form-checkbox[lay-skin=primary] {
  margin-top: 0;
}

.layui-form-checkbox[lay-skin=primary] span {
  padding-right: 0;
}

.layui-flow-more {
  clear: both;
}

.layui-btn {
  border: none;
}

.layui-btn:hover {
  opacity: 1;
}

.layui-btn-primary:hover {
  border: none;
  color: #fff;
}

@media screen and (min-width: 1230px) {
  .layui-container {
    width: 1230px;
  }
}

/* -------------------layui end------------------- */

/* -------------------公共样式------------------- */
.f0 {
  font-size: 0;
}

.f0>* {
  vertical-align: middle;
}

.f14 {
  font-size: 14px;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.block {
  display: block;
}

.w {
  width: 100%;
}

.h {
  height: 100%;
}

.mr15 {
  margin-right: 15px;
}

.textC {
  text-align: center;
}

.textL {
  text-align: left;
}

.textR {
  text-align: right;
}

.textJ {
  text-align: justify;
}

.marginAuto {
  margin: 0 auto;
}

.block-pt {
  padding-top: 50px;
}

.block-pt100 {
  padding-top: 100px;
}

.block-pb {
  padding-bottom: 50px;
}

.block-pb60 {
  padding-bottom: 66px;
}

.block-mt60 {
  margin-top: 60px;
}

.block-mt100 {
  margin-top: 100px;
}

.block-mb {
  margin-bottom: 50px;
}

.block-mb60 {
  margin-bottom: 66px;
}

.cover-img {
  width: 100%;
  max-width: 100%;
  background: #ddd;
}

.letter-spacing3 {
  letter-spacing: 3px;
}

.show-title {
  margin-bottom: 10px;
}

.show-title h4 {
  line-height: 1;
  font-size: 26px;
  color: #666;
}

.show-title span {
  color: #999;
  font-size: 22px;
}

.title {
  position: relative;
  /* margin-bottom: 6px; */
}

.title h1 {
  margin-bottom: 7px;
  color: #000;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
}

.title span {
  line-height: 1;
  color: #666;
  font-size: 26px;
}

.title.textR::after,
.title.textL::after,
.title.textC::after {
  content: '';
  position: absolute;
  bottom: -6px;
  display: inline-block;
  width: 83px;
  height: 2px;
  background: #A0A0A0;
}

.title.textR::after {
  right: 0;
}

.title.textC::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.title.textL::after {
  left: 0;
}

/* -------------------公共样式 end------------------- */

/* -------------------头部------------------- */
.top {
  height: 42px;
  line-height: 42px;
  background: #F7F7F7;
}

.logo img {
  height: 70px;
  vertical-align: middle;
}

.header-nav {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.navigation ul {
  font-size: 0;
  height: 90px;
}

.navigation ul li {
  position: relative;
  display: inline-block;
  line-height: 90px;
  font-size: 18px;
  margin: 0 28px;
  vertical-align: middle;
}

.navigation ul li a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 17px;
  height: 17px;
  background: #333;
  border-radius: 50%;
  -webkit-transform: translateY(-50%) scale(0);
  -moz-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  transition: transform .3s ease;
}

.navigation ul li a {
  color: #666;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation ul li a:hover::before {
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.navigation ul li a:hover {
  color: #333;
  font-size: 22px;
}

.navigation ul li a.active::before {
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.navigation ul li a.active {
  color: #333;
  font-size: 22px;
}

.navigation ul li:last-of-type {
  margin-right: 0;
}

/* -------------------头部 end------------------- */

/* -------------------智能家居------------------- */
.smart-box {
  position: relative;
  overflow: hidden;
}

.smart-box .smart-shade {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, .44);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

/* -------------------智能家居 end------------------- */

/* -------------------装修案例------------------- */
.case-carousel-main {
  width: 718px;
}

#case_carousel .layui-carousel-arrow[lay-type=add] {
  right: 0;
}

#case_carousel .layui-carousel-arrow {
  left: 0;
  border-radius: 0;
  background: #535353;
  width: 38px;
  height: 64px;
  z-index: 99999;
}

.case {
  position: relative;
  width: 1495px;
  padding-bottom: 27px;
}

.case .case-info .case-info-content {
  width: 618px;
  padding: 70px 0;
  margin-right: 77px;
}

.case .case-info {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1445px;
  border: 1px solid #999;
}

.case-info h2 {
  overflow: hidden;
  max-width: 478px;
  margin-bottom: 35px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  line-height: 1;
  color: #000;
}

.case-info p {
  overflow: hidden;
  line-height: 30px;
  height: 240px;
  word-break: break-word;
  word-break: break-all;
  font-size: 24px;
  color: #666;
}

/* -------------------装修案例 end------------------- */

/* -------------------装修现场------------------- */
.mhn-slide .mhn-item {
  width: 100%;
  padding: 0 4px;
}

.mhn-slide .mhn-inner {
  width: 100%;
  height: 100%;
}

.mhn-slide .mhn-item img {
  display: none;
}

.mhn-slide .mhn-img {
  min-height: 438px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: white;
  position: relative;
}

.mhn-slide .owl-stage-outer {
  z-index: 1;
}

.mhn-slide .owl-nav {
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mhn-slide .owl-nav .disabled {
  display: none;
}

.mhn-slide .owl-prev,
.mhn-slide .owl-next {
  top: 219px;
  z-index: 2;
  text-align: center;
  width: 38px;
  height: 64px;
  line-height: 64px;
  margin-top: -32px;
  position: absolute;
  background-color: #535353;
  color: #fff;
}

.mhn-slide .owl-prev {
  left: 4px;
}

.mhn-slide .owl-next {
  right: 4px;
}

/* -------------------装修现场 end------------------- */

/* -------------------我们的优势------------------- */
.advantage-box {
  overflow: hidden;
  background: url(../images/bg.jpg) no-repeat center / cover;
  padding: 120px 0 98px 0;
}

.advantage .advantage-box .advantage-item {
  position: relative;
  background: rgba(255, 255, 255, .89);
  padding: 70px 120px 86px;
}

.advantage .advantage-box .advantage-item>div {
  font-size: 27px;
  margin-bottom: 40px;
}

.advantage .advantage-box .advantage-item p {
  overflow: hidden;
  word-wrap: break-all;
  word-wrap: break-word;
  height: 216px;
  line-height: 36px;
  ;
  font-size: 22px;
  text-indent: 44px;
  color: #999;
}

.b {
  position: relative;
  padding-top: 75%;
}

.img-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.advantage .advantage-box .advantage-item .go-detail {
  width: 203px;
  height: 56px;
  line-height: 56px;
  color: #fff;
  background: #BFBFBF;
  border: 1px #666 solid;
  font-size: 36px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: -7px 7px 3px rgba(0, 0, 0, .24);
  -moz-box-shadow: -7px 7px 3px rgba(0, 0, 0, .24);
  box-shadow: -7px 7px 3px rgba(0, 0, 0, .24);
  margin-top: 40px;
}

/* -------------------我们的优势 end------------------- */

/* -------------------装修知多少------------------- */
.article-item {
  float: left;
  margin-bottom: 10px;
}

.article-item:first-of-type {
  margin-bottom: 0;
}

.article-item:last-of-type {
  margin-bottom: 0;
}

.article-item article {
  overflow: hidden;
  font-size: 0;
}

.article-item:first-of-type article {
  margin-right: 50px;
  position: relative;
}

.article-item article .article-cover-img {
  display: inline-block;
  width: 164px;
  height: 112px;
  vertical-align: middle;
}

.article-item h2 {
  display: inline-block;
  width: 300px;
  margin-left: 17px;
  font-size: 24px;
}

.article-item .article-introduction {
  display: -webkit-box;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-left: 17px;
  margin-top: 8px;
  line-height: 25px;
  font-size: 19px;
  color: #333;
  text-align: justify;
}

.article-item:first-of-type article .article-cover-img {
  width: 667px;
  height: 478px;
}

.article-item:first-of-type h2 {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  max-width: unset;
  height: 40px;
  line-height: 40px;
  margin: 0;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.article-item:first-of-type article p {
  display: none;
}

.article-item:first-of-type:hover h2 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* -------------------装修知多少 end------------------- */

/* -------------------装修效果图------------------- */
.percent-box {
  position: relative;
  padding-top: 90%;
}

.effect-box {
  padding-bottom: 58px;
  margin-bottom: 100px;
}

.effect {
  overflow: hidden;
}

.effect-item {
  position: relative;
  overflow: hidden;
  perspective: 300px;
}

.effect-img-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  transition: transform .5s ease;
}

.effect-shade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/enterbg.jpg);
  opacity: 0;
  transform: rotateX(30deg);
  transform-origin: center bottom 0;
  left: 0;
  bottom: 0;
  color: #fff;
  z-index: -1;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.effect-item:hover .effect-img-box {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.effect-item:hover .effect-shade {
  transform: none;
  opacity: 1;
}

.effect-shade h3 {
  position: relative;
  line-height: 33px;
  margin-top: 30%;
  padding-bottom: 7px;
  font-size: 33px;
  text-align: center;
  font-family: initial;
}

.effect-shade h3::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0px;
  height: 1px;
  background: #fff;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: width .5s ease;
  -moz-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
}

.effect-item:hover .effect-shade h3::after {
  width: 152px;
}

.effect-bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.effect-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
}

.o1 {
  position: absolute;
  bottom: 23px;
  left: -45px;
}

.o2 {
  position: absolute;
  bottom: -18px;
  right: -200px;
}

/* -------------------装修效果图 end------------------- */

/* -------------------apply.html------------------- */
.apply-btn {
  width: 180px;
  height: 56px;
  border-radius: 4px;
  margin: 40px 0;
}

/* -------------------apply.html end------------------- */

/* -------------------case.html end------------------- */
.case-tab {
  height: 55px;
  position: relative;
  margin-bottom: 110px;
}

.case-tab ul {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110px;
  padding: 0;
  line-height: 110px;
  background: #fff;
  box-shadow: 0px 9px 66px 2px rgba(0, 0, 0, 0.1);
}

.case-tab ul li {
  height: 110px;
  line-height: 110px;
  font-size: 40px;
}

.case-tab .layui-tab-title .layui-this {
  color: #333;
}

.case-tab .layui-tab-title .layui-this:after {
  content: unset;
}

.article-detail-top .case-info {
  height: 550px;
  padding: 120px 222px 0 114px;
  color: #fff;
  background: url(../images/bg4.jpg) no-repeat center / cover;
  font-size: 24px;
}

.article-detail-top .case-info h2 {
  max-width: 478px;
  line-height: 30px;
  height: 60px;
  overflow: hidden;
  font-size: 30px;
  color: #fff;
}

.article-detail-top .case-info p {
  line-height: 30px;
  color: #fff;
}

.case-img {
  height: 670px;
}

.case-detail .layui-tab-title {
  border: none;
}

.case-detail .layui-tab-content {
  padding: 0;
}

/* -------------------case.html end------------------- */

/* -------------------konwlege.html------------------- */

.tab-list {
  background: #F5F5F5;
  font-size: 0;
}

.tab-item {
  cursor: pointer;
  width: 197px;
  height: 62px;
  margin: 22px 10px;
  padding: 40px;
  background: #fff;
  font-size: 24px;
  text-align: left;
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}

.tab-item span {
  display: table-cell;
  max-width: 100px;
  vertical-align: middle;
  height: 62px;
}

.tab-item:hover {
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.24);
}

.tab-content {
  display: none;
}

.layui-article {
  width: 700px;
}

.layui-article .layui-article-item {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.block-1>div {
  height: 282px;
}

.block-1>div:first-of-type {
  height: 565px;
}

.hot-block {
  width: 510px;
}

.hot-block .hot-list {
  padding: 20px;
  background: #EFEFEF;
}

.hot-block .hot-list h3 {
  font-weight: bold;
  font-size: 16px;
}

.hot-block .hot-list ul li {
  margin-bottom: 20px;
}

.hot-block .hot-list ul li a {
  font-size: 0;
}

.hot-block .hot-list ul li a em {
  position: relative;
  width: 19px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  background: #999999;
  color: #fff;
  vertical-align: middle;
  font-size: 14px;
  margin-right: 10px;
  z-index: 1;
}

.hot-block .hot-list ul li a em::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 3px;
  width: 18px;
  height: 18px;
  border: 1px solid #999;
}

.hot-block .hot-list ul li a em:first-of-type,
.hot-block .hot-list ul li a em:first-of-type+em,
.hot-block .hot-list ul li a em:first-of-type+em+em {
  background: #101010
}

.hot-block .hot-list ul li a em:first-of-type::before,
.hot-block .hot-list ul li a em:first-of-type+em::before,
.hot-block .hot-list ul li a em:first-of-type+em+em::before {
  border-color: #101010;
}

.hot-block .hot-list ul li a span {
  max-width: 418px;
  font-size: 20px;
  line-height: 1;
}

/* -------------------konwlege.html end------------------- */

/* -------------------register.html------------------- */
.get-code {
  cursor: pointer;
}

/* -------------------register.html end------------------- */

/* -------------------menber.html------------------- */

.min-sidebar {
  float: left;
  min-height: 100%;
  width: 240px;
  background: #fff;
}

.min-sidebar .sidebar-tree li {
  border-bottom: 1px solid #e5e5e5;
  font-size: 16px;
}

.user-avatar {
  width: 100px;
  padding: 60px 0;
  margin: 0 auto;
  font-size: 16px;
}

.user-avatar .avatar {
  width: 78px;
  height: 78px;
  background: #ddd;
  margin-bottom: 17px;
}

.min-sidebar .sidebar-tree li h4 {
  padding: 14px 0 6px 14px;
  color: #999;
}

.min-sidebar .sidebar-tree li .sidebar-tree-item {
  position: relative;
  display: block;
  width: 210px;
  height: 46px;
  line-height: 46px;
  padding-left: 30px;
  font-size: 18px;
}

.min-sidebar .sidebar-tree li .sidebar-tree-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F1906D;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform .4s ease;
  -moz-transition: transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}

.min-sidebar .sidebar-tree li .sidebar-tree-item:hover {
  color: #333;
}

.min-sidebar .sidebar-tree li .sidebar-tree-item.active {
  border-left: 2px solid #F1906D;
  padding-left: 28px;
}

.min-sidebar .sidebar-tree li .sidebar-tree-item.un-text-indent {
  text-indent: unset;
  padding-left: 14px;
  width: 226px;
}

.min-sidebar .sidebar-tree li .sidebar-tree-item:hover::before {
  -webkit-transform-origin: 0;
  transform-origin: 0;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.min-sidebar .sidebar-tree li .sidebar-tree-item span {
  position: absolute;
  text-indent: 0;
}

.menber-container {
  margin-left: 260px;
  width: 940px;
  background: #fff;
}

.nav-title {
  height: 56px;
  line-height: 56px;
  padding-left: 20px;
  font-size: 22px;
  border-bottom: 1px solid #e5e5e5;
}

/* -------------------menber.html end------------------- */

/* -------------------页脚------------------- */
.layui-footer {
  background: url(../images/footer.jpg) no-repeat center / cover;
  padding: 90px 0 70px;
  color: #fff;
}

.layui-footer a {
  color: #fff;
}

.layui-footer .servers ul {
  font-size: 0;
  margin-bottom: 20px;
}

.layui-footer .servers ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  line-height: 14px;
  border-right: 4px solid #fff;
  font-weight: bold;
}

.layui-footer .servers ul li:last-of-type {
  border-right: none;
}

.layui-footer p {
  font-size: 16px;
}

.copyright {
  background: #101010;
  color: #fff;
  height: 56px;
  line-height: 56px;
}

/* -------------------页脚 end------------------- */

/* -------------------底部浮动条------------------- */
.bottom-bar {
  /* display: none; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(212, 209, 200, .7);
  height: 110px;
  line-height: 110px;
  font-size: 0;
  z-index: 999;
  border: 1px solid #aeacaf;
}

.bottom-bar h1 {
  color: #000;
  font-size: 30px;
}

.bottom-bar .layui-input-inline:last-of-type {
  line-height: 34px;
}

.bottom-bar .layui-form select {
  display: inline-block;
  min-width: unset;
  width: 100px;
  border: none;
  background: transparent;
  padding: 0 26px 0 0;
  vertical-align: middle;
  font-size: 24px;
  color: #000;
}

.bottom-bar input {
  width: 204px;
  text-align: center;
  height: 46px;
  line-height: 46px;
  font-size: 24px;
  color: #999;
  padding: 0;
}

.bottom-bar .close-bottom-bar {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  text-align: center;

}

.apply {
  width: 200px;
  height: 66px;
  background: #000000;
  color: #fff;
  font-size: 26px;
  border-radius: 10px;
  margin-left: 70px;
}

/* -------------------底部浮动条 end------------------- */