html,
body {
  color: #333;
}

/* -------------------layui------------------- */
.layui-nav {
  background: transparent;
}

.layui-nav .layui-nav-item a {
  color: #333;
}

.layui-nav .layui-nav-item a:hover {
  color: #333;
}

.layui-input-inline {
  font-size: 14px;
}

.layui-carousel-ind {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: right;
  box-sizing: border-box;
}

.layui-carousel-ind ul {
  background: transparent;
}

.layui-carousel-ind ul:hover {
  background: transparent;
}

.layui-carousel-ind li {
  width: 40px;
  height: 3px;
  border-radius: 0;
}

.layui-anim {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
}

.layui-form select {
  display: inline-block;
}

.layui-form-item .layui-form-checkbox[lay-skin=primary] {
  margin-top: 0;
}

.layui-form-checkbox[lay-skin=primary] span {
  padding-right: 0;
}

.layui-flow-more {
  clear: both;
}

.layui-btn {
  border: none;
}

.layui-btn:hover {
  opacity: 1;
}

.layui-btn-primary:hover {
  border: none;
  color: #fff;
}

@media screen and (min-width: 1230px) {
  .layui-container {
    width: 1230px;
  }
}

/* -------------------layui end------------------- */

/* -------------------公共样式------------------- */
.f-l {
  float: left;
}

.f-r {
  float: right;
}

.block {
  display: block;
}

.w {
  width: 100%;
}

.h {
  height: 100%;
}

.mr30 {
  margin-right: 30px;
}

.textC {
  text-align: center;
}

.textL {
  text-align: left;
}

.textR {
  text-align: right;
}

.textJ {
  text-align: justify;
}

.block-pt {
  padding-top: 50px;
}

.block-pb {
  padding-bottom: 50px;
}

.block-mt {
  margin-top: 50px;
}

.block-mb {
  margin-bottom: 50px;
}

.block-title {
  font-size: 36px;
  font-weight: bold;
  padding: 0 6px 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
}

.cover-img {
  width: 100%;
  max-width: 100%;
  background: #ddd;
}

/* -------------------公共样式 end------------------- */

/* -------------------头部------------------- */
.top {
  height: 40px;
  line-height: 40px;
  background: #ddd;
}

/* -------------------头部 end------------------- */

/* -------------------装修案例------------------- */

.case-info h2 {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1;
}

.case-info p {
  word-break: break-word;
  word-break: break-all;
  line-height: 30px;
}

/* -------------------装修案例 end------------------- */

/* -------------------装修现场------------------- */
.mhn-slide .mhn-item {
  width: 100%;
  padding: 5px;
}

.mhn-slide .mhn-inner {
  width: 100%;
  height: 100%;
}

.mhn-slide .mhn-item img {
  display: none;
}

.mhn-slide .mhn-img {
  min-height: 200px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: white;
  background: #ececec no-repeat center/cover;
  position: relative;
}

.mhn-slide .owl-stage-outer {
  z-index: 1;
}

.mhn-slide .owl-nav {
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mhn-slide .owl-nav .disabled {
  display: none;
}

.mhn-slide .owl-prev,
.mhn-slide .owl-next {
  top: 110px;
  z-index: 2;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-top: -20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2);
}

.mhn-slide .owl-prev {
  left: -10px;
}

.mhn-slide .owl-next {
  right: -10px;
}

/* -------------------装修现场 end------------------- */

/* -------------------我们的优势------------------- */
.advantage-box {
  background: rgba(255, 255, 255, .89);
}

.advantage .advantage-box .advantage-item {
  position: relative;
  width: 540px;
}

.b {
  position: relative;
  padding-top: 75%;
}

.img-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.advantage .advantage-box .advantage-item .go-detail {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 145px;
  height: 45px;
  line-height: 45px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
}

/* -------------------我们的优势 end------------------- */

/* -------------------装修知多少------------------- */
.article-item {
  float: left;
}

.article-item>article {
  position: relative;
  overflow: hidden;
}

.article-item>article>.article-cover-img {
  display: inline-block;
  width: 190px;
  height: 90px;
  vertical-align: top;
}

.article-item h2 {
  display: inline-block;
  max-width: 190px;
  margin-left: 5px;
  font-size: 18px;
}

.article-item:first-of-type div {
  width: 800px;
  height: 390px;
}

.article-item:first-of-type h2 {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  max-width: unset;
  height: 40px;
  line-height: 40px;
  margin: 0;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.article-item:first-of-type:hover h2 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* -------------------装修知多少 end------------------- */

/* -------------------apply.html------------------- */
.apply-btn {
  width: 180px;
  height: 56px;
  border-radius: 4px;
  margin: 40px 0;
}

/* -------------------apply.html end------------------- */

/* -------------------case.html end------------------- */
.case-img {
  height: 400px;
}

.case-detail .layui-tab-title {
  border: none;
}

.case-detail .layui-tab-content {
  padding: 0;
}

/* -------------------case.html end------------------- */

/* -------------------konwlege.html------------------- */
.tab-item div {
  position: relative;
}

.tab-item div .shade {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.tab-item div:hover .shade {
  opacity: 1;
}

.tab-content {
  display: none;
}

.layui-article {
  width: 700px;
}

.layui-article .layui-article-item {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.block-1>div {
  height: 200px;
}

.block-1>div:first-of-type {
  height: 400px;
}

.hot-block {
  width: 510px;
}

.hot-block .hot-list {
  padding: 20px;
  border: 1px solid #ddd;
}

.hot-block .hot-list h3 {
  font-weight: bold;
  font-size: 16px;
}

.hot-block .hot-list ul li {
  margin-bottom: 10px;
}

.hot-block .hot-list ul li a {
  font-size: 0;
}

.hot-block .hot-list ul li a em {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: rgb(189, 189, 189);
  color: #fff;
  vertical-align: middle;
  font-size: 14px;
  margin-right: 10px;
}

.hot-block .hot-list ul li a span {
  max-width: 418px;
  font-size: 14px;
}

/* -------------------konwlege.html end------------------- */

/* -------------------页脚------------------- */
.layui-footer {
  background: #333;
  padding: 30px 0;
  color: #fff;
}

.layui-footer a {
  color: #fff;
}

.layui-footer .servers ul {
  font-size: 0;
  margin-bottom: 20px;
}

.layui-footer .servers ul li {
  display: inline-block;
  font-size: 14px;
  padding: 0 10px;
  line-height: 14px;
  border-right: 1px solid #fff;
}

.layui-footer .servers ul li:last-of-type {
  border-right: none;
}

.layui-footer p {
  margin-bottom: 10px;
}

/* -------------------页脚 end------------------- */

/* -------------------底部浮动条------------------- */
.bottom-bar {
  /* display: none; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(212, 209, 200, .7);
  height: 106px;
  line-height: 106px;
  font-size: 0;
  z-index: 999;
  border: 1px solid #aeacaf;
}

.bottom-bar h1 {
  color: #000;
  font-size: 30px;
}

.bottom-bar .layui-input-inline:last-of-type {
  line-height: 34px;
}

.bottom-bar .layui-form select {
  display: inline-block;
  min-width: unset;
  width: 100px;
  border: none;
  background: transparent;
  padding: 0 26px 0 0;
}

.bottom-bar .close-bottom-bar {
  position: absolute;
  right: 40px;
  top: 35px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  background: #fff;
  text-align: center;

}

.apply {
  width: 200px;
  height: 66px;
  background: #000000;
  color: #fff;
  font-size: 26px;
  border-radius: 10px;
}

/* -------------------底部浮动条 end------------------- */