html,
body {
  color: #333;
  font-family: '\5B8B\4F53';
}

/* -------------------layui------------------- */
.layui-nav {
  background: transparent;
}

.layui-nav .layui-nav-item a {
  color: #333;
}

.layui-nav .layui-nav-item a:hover {
  color: #333;
}

.layui-input-inline {
  font-size: 14px;
}

.layui-carousel-ind {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: right;
  box-sizing: border-box;
}

.layui-carousel-ind ul {
  background: transparent;
}

.layui-carousel-ind ul:hover {
  background: transparent;
}

.layui-carousel-ind li {
  width: 40px;
  height: 3px;
  border-radius: 0;
}

.layui-anim {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
}

.layui-form select {
  display: inline-block;
}

.layui-form-item .layui-form-checkbox[lay-skin=primary] {
  margin-top: 0;
}

.layui-form-checkbox[lay-skin=primary] span {
  padding-right: 0;
}

.layui-flow-more {
  clear: both;
}

.layui-btn {
  border: none;
}

.layui-btn:hover {
  opacity: 1;
}

.layui-btn-primary:hover {
  border: none;
  color: #fff;
}

@media screen and (min-width: 1230px) {
  .layui-container {
    width: 1230px;
  }
}

/* -------------------layui end------------------- */

/* -------------------公共样式------------------- */
.f-l {
  float: left;
}

.f-r {
  float: right;
}

.block {
  display: block;
}

.w {
  width: 100%;
}

.h {
  height: 100%;
}

.mr30 {
  margin-right: 30px;
}

.textC {
  text-align: center;
}

.textL {
  text-align: left;
}

.textR {
  text-align: right;
}

.textJ {
  text-align: justify;
}

.marginAuto {
  margin: 0 auto;
}

.block-pt {
  padding-top: 50px;
}

.block-pt100 {
  padding-top: 100px;
}

.block-pb {
  padding-bottom: 50px;
}

.block-pb60 {
  padding-bottom: 66px;
}

.block-mt {
  margin-top: 50px;
}

.block-mt100 {
  margin-top: 100px;
}

.block-mb {
  margin-bottom: 50px;
}

.block-mb60 {
  margin-bottom: 66px;
}

.cover-img {
  width: 100%;
  max-width: 100%;
  background: #ddd;
}

.letter-spacing3 {
  letter-spacing: 3px;
}

.show-title {
  margin-bottom: 10px;
}

.show-title h4 {
  line-height: 1;
  font-size: 26px;
  color: #666;
}

.show-title span {
  color: #999;
  font-size: 22px;
}

.title {
  position: relative;
  /* margin-bottom: 6px; */
}

.title h1 {
  margin-bottom: 7px;
  color: #000;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
}

.title span {
  line-height: 1;
  color: #666;
  font-size: 26px;
}

.title.textR::after,
.title.textL::after,
.title.textC::after {
  content: '';
  position: absolute;
  bottom: -6px;
  display: inline-block;
  width: 83px;
  height: 2px;
  background: #A0A0A0;
}

.title.textR::after {
  right: 0;
}

.title.textC::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.title.textL::after {
  left: 0;
}

/* -------------------公共样式 end------------------- */

/* -------------------头部------------------- */
.top {
  height: 40px;
  line-height: 40px;
  background: #ddd;
}

.logo img {
  height: 70px;
  vertical-align: middle;
}

.header-nav {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.navigation ul {
  font-size: 0;
  height: 90px;
}

.navigation ul li {
  position: relative;
  display: inline-block;
  line-height: 90px;
  font-size: 18px;
  margin: 0 28px;
  vertical-align: middle;
}

.navigation ul li a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 17px;
  height: 17px;
  background: #333;
  border-radius: 50%;
  -webkit-transform: translateY(-50%) scale(0);
  -moz-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -webkit-transition: transform .3s ease;
  -moz-transition: transform .3s ease;
  transition: transform .3s ease;
}

.navigation ul li a {
  color: #666;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation ul li a:hover::before {
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.navigation ul li a:hover {
  color: #333;
  font-size: 22px;
}

.navigation ul li a.active::before {
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.navigation ul li a.active {
  color: #333;
  font-size: 22px;
}

.navigation ul li:last-of-type {
  margin-right: 0;
}

/* -------------------头部 end------------------- */

/* -------------------智能家居------------------- */
.smart-box {
  position: relative;
  overflow: hidden;
}

.smart-box .smart-shade {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, .44);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

/* -------------------智能家居 end------------------- */

/* -------------------装修案例------------------- */
.case-carousel-main {
  width: 718px;
}

#case_carousel .layui-carousel-arrow[lay-type=add] {
  right: 0;
}

#case_carousel .layui-carousel-arrow {
  left: 0;
  border-radius: 0;
  background: #535353;
  width: 38px;
  height: 64px;
  z-index: 99999;
}

.case {
  position: relative;
  width: 1495px;
  padding-bottom: 27px;
}

.case .case-info .case-info-content {
  width: 618px;
  padding: 70px 0;
  margin-right: 77px;
}

.case .case-info {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1445px;
  border: 1px solid #999;
}

.case-info h2 {
  overflow: hidden;
  max-width: 478px;
  margin-bottom: 35px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  line-height: 1;
  color: #000;
}

.case-info p {
  overflow: hidden;
  line-height: 30px;
  height: 240px;
  word-break: break-word;
  word-break: break-all;
  font-size: 24px;
  color: #666;
}

/* -------------------装修案例 end------------------- */

/* -------------------装修现场------------------- */
.mhn-slide .mhn-item {
  width: 100%;
  padding: 0 4px;
}

.mhn-slide .mhn-inner {
  width: 100%;
  height: 100%;
}

.mhn-slide .mhn-item img {
  display: none;
}

.mhn-slide .mhn-img {
  min-height: 438px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: white;
  position: relative;
}

.mhn-slide .owl-stage-outer {
  z-index: 1;
}

.mhn-slide .owl-nav {
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mhn-slide .owl-nav .disabled {
  display: none;
}

.mhn-slide .owl-prev,
.mhn-slide .owl-next {
  top: 219px;
  z-index: 2;
  text-align: center;
  width: 38px;
  height: 64px;
  line-height: 64px;
  margin-top: -32px;
  position: absolute;
  background-color: #535353;
  color: #fff;
}

.mhn-slide .owl-prev {
  left: 4px;
}

.mhn-slide .owl-next {
  right: 4px;
}

/* -------------------装修现场 end------------------- */

/* -------------------我们的优势------------------- */
.advantage-box {
  overflow: hidden;
  background: url(../images/bg.jpg) no-repeat center / cover;
  padding: 120px 0 98px 0;
}

.advantage .advantage-box .advantage-item {
  position: relative;
  background: rgba(255, 255, 255, .89);
  padding: 70px 120px 86px;
}

.advantage .advantage-box .advantage-item>div {
  font-size: 27px;
  margin-bottom: 40px;
}

.advantage .advantage-box .advantage-item p {
  overflow: hidden;
  word-wrap: break-all;
  word-wrap: break-word;
  height: 216px;
  line-height: 36px;
  ;
  font-size: 22px;
  text-indent: 44px;
  color: #999;
}

.b {
  position: relative;
  padding-top: 75%;
}

.img-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.advantage .advantage-box .advantage-item .go-detail {
  width: 203px;
  height: 56px;
  line-height: 56px;
  color: #fff;
  background: #BFBFBF;
  border: 1px #666 solid;
  font-size: 36px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: -7px 7px 3px rgba(0, 0, 0, .24);
  -moz-box-shadow: -7px 7px 3px rgba(0, 0, 0, .24);
  box-shadow: -7px 7px 3px rgba(0, 0, 0, .24);
  margin-top: 40px;
}

/* -------------------我们的优势 end------------------- */

/* -------------------装修知多少------------------- */
.article-item {
  float: left;
  margin-bottom: 10px;
}

.article-item:first-of-type {
  margin-bottom: 0;
}

.article-item:last-of-type {
  margin-bottom: 0;
}

.article-item>article {
  overflow: hidden;
  font-size: 0;
}

.article-item:first-of-type>article {
  margin-right: 50px;
  position: relative;
}

.article-item>article>.article-cover-img {
  display: inline-block;
  width: 164px;
  height: 112px;
  vertical-align: top;
}

.article-item h2 {
  display: inline-block;
  width: 300px;
  margin-left: 17px;
  font-size: 24px;
}

.article-item:first-of-type div {
  width: 667px;
  height: 478px;
}

.article-item:first-of-type h2 {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  max-width: unset;
  height: 40px;
  line-height: 40px;
  margin: 0;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.article-item:first-of-type:hover h2 {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* -------------------装修知多少 end------------------- */

/* -------------------装修效果图------------------- */
.percent-box {
  padding-top: 90%;
}

.effect-item {
  position: relative;
  overflow: hidden;
  perspective: 300px;
}

.effect-img-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  transition: transform .5s ease;
}

.effect-shade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/enterbg.jpg);
  opacity: 0;
  transform: rotateX(30deg);
  transform-origin: center bottom 0;
  left: 0;
  bottom: 0;
  color: #fff;
  z-index: -1;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.effect-item:hover .effect-img-box {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.effect-item:hover .effect-shade {
  transform: none;
  opacity: 1;
}

/* -------------------装修效果图 end------------------- */

/* -------------------apply.html------------------- */
.apply-btn {
  width: 180px;
  height: 56px;
  border-radius: 4px;
  margin: 40px 0;
}

/* -------------------apply.html end------------------- */

/* -------------------case.html end------------------- */
.case-img {
  height: 400px;
}

.case-detail .layui-tab-title {
  border: none;
}

.case-detail .layui-tab-content {
  padding: 0;
}

/* -------------------case.html end------------------- */

/* -------------------konwlege.html------------------- */
.tab-item div {
  position: relative;
}

.tab-item div .shade {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.tab-item div:hover .shade {
  opacity: 1;
}

.tab-content {
  display: none;
}

.layui-article {
  width: 700px;
}

.layui-article .layui-article-item {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.block-1>div {
  height: 200px;
}

.block-1>div:first-of-type {
  height: 400px;
}

.hot-block {
  width: 510px;
}

.hot-block .hot-list {
  padding: 20px;
  border: 1px solid #ddd;
}

.hot-block .hot-list h3 {
  font-weight: bold;
  font-size: 16px;
}

.hot-block .hot-list ul li {
  margin-bottom: 10px;
}

.hot-block .hot-list ul li a {
  font-size: 0;
}

.hot-block .hot-list ul li a em {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: rgb(189, 189, 189);
  color: #fff;
  vertical-align: middle;
  font-size: 14px;
  margin-right: 10px;
}

.hot-block .hot-list ul li a span {
  max-width: 418px;
  font-size: 14px;
}

/* -------------------konwlege.html end------------------- */

/* -------------------页脚------------------- */
.layui-footer {
  background: url(../images/footer.jpg) no-repeat center / cover;
  padding: 90px 0 70px;
  color: #fff;
}

.layui-footer a {
  color: #fff;
}

.layui-footer .servers ul {
  font-size: 0;
  margin-bottom: 20px;
}

.layui-footer .servers ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  line-height: 14px;
  border-right: 4px solid #fff;
  font-weight: bold;
}

.layui-footer .servers ul li:last-of-type {
  border-right: none;
}

.layui-footer p {
  font-size: 16px;
}

.copyright {
  background: #101010;
  color: #fff;
  height: 56px;
  line-height: 56px;
}

/* -------------------页脚 end------------------- */

/* -------------------底部浮动条------------------- */
.bottom-bar {
  /* display: none; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(212, 209, 200, .7);
  height: 106px;
  line-height: 106px;
  font-size: 0;
  z-index: 999;
  border: 1px solid #aeacaf;
}

.bottom-bar h1 {
  color: #000;
  font-size: 30px;
}

.bottom-bar .layui-input-inline:last-of-type {
  line-height: 34px;
}

.bottom-bar .layui-form select {
  display: inline-block;
  min-width: unset;
  width: 100px;
  border: none;
  background: transparent;
  padding: 0 26px 0 0;
}

.bottom-bar .close-bottom-bar {
  position: absolute;
  right: 40px;
  top: 35px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  background: #fff;
  text-align: center;

}

.apply {
  width: 200px;
  height: 66px;
  background: #000000;
  color: #fff;
  font-size: 26px;
  border-radius: 10px;
}

/* -------------------底部浮动条 end------------------- */